<section class="direction">
  <div class="container">
    <h3 class="direction__title title _decor">Основные направления</h3>
    <div class="direction__body">
      <div class="direction__material direction-material">
        <h4 class="direction-material__title">Натуральный камень</h4>
        <div class="direction-material__body">
          {{{image "img/direction/material.png" class="direction-material__image" alt=""}}}
          <ul class="direction-material__list">
            <li>Мрамор</li>
            <li>Гранит</li>
            <li>Оникс</li>
            <li>Травертин</li>
          </ul>
        </div>
      </div>
      <div class="direction__target direction-target">
        <ul class="direction-target__list">
          <li><svg class="icon _mr"><use xlink:href="img/direction/icon.svg#hamam"></use></svg>Хамам</li>
          <li><svg class="icon _mr"><use xlink:href="img/direction/icon.svg#sill"></use></svg>Подоконники</li>
          <li><svg class="icon _mr"><use xlink:href="img/direction/icon.svg#countertop"></use></svg>Столешницы</li>
          <li><svg class="icon _mr"><use xlink:href="img/direction/icon.svg#border"></use></svg>Бордюры</li>
          <li><svg class="icon _mr"><use xlink:href="img/direction/icon.svg#interior"></use></svg>Интерьеры</li>
          <li><svg class="icon _mr"><use xlink:href="img/direction/icon.svg#product"></use></svg>Изделия из камня</li>
          <li><svg class="icon _mr"><use xlink:href="img/direction/icon.svg#stair"></use></svg>Лестницы</li>
          <li><svg class="icon _mr"><use xlink:href="img/direction/icon.svg#fireplace"></use></svg>Камины</li>
          <li><svg class="icon _mr"><use xlink:href="img/direction/icon.svg#panel"></use></svg>Розетки и панно</li>
        </ul>
      </div>
    </div>
  </div>
</section>
