<section class="information">
  <div class="container">
    <div class="information__description information-description">
      <h3 class="information-description__title">
        Гранитная мастерская:<br>изделия из камня
      </h3>
      <p class="information-description__text">
        Изделия из натурального камня: мрамора, гранита и других видов, пользуются широкой популярностью по всему миру. Неповторимые рисунки и текстура, великолепные экспуатационные качества и отличная цена выделяют продукцию нашей мастерской.
      </p>
    </div>
    <div class="information__news information-news">
      <h3 class="information-news__title">Свежие новости</h3>
      <div class="information-news__body information-event">
        <span class="information-event__sticker">24/09</span>
        {{{image "img/events/event-01.jpg" class="information-event__image" alt=""}}}
        <div class="information-event__body">
          <h5 class="information-event__title">Распродажа!</h5>
          <p class="information-event__text">Крема Марфил Стандарт 20мм и сопутствующих товаров по супернизким ценам.</p>
          <div class="buttons">
            <a class="btn _dark" href="#">{{{icon "check" class="icon _mr"}}}Читать</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
